h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  padding-top: 50px;
  margin-left: 20px;
}

p,
div,
span {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}
h5 {
  padding-bottom: 20px;
  margin-left: 20px;
}
.iconHeading {
  font-size: 200px;
  padding-bottom: 35px;
  text-align: right;
}
.currentTemp {
  font-size: 150px;
  text-align: center;
}
.weatherDetails {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  margin-bottom: 25px;
  margin-left: 20px;
}
/* .details {
  padding-left: 50px;
} */
.detailsResults {
  text-align: right;
  padding-left: 50px;
}
.detailsResultsHumidity {
  padding-left: 55px;
}
.dateCity {
  padding-bottom: 50px;
}
.currentIcon {
  color: rgb(218, 237, 253);
  font-size: 18px;
}
.description {
  text-transform: capitalize;
  padding-bottom: 10px;
  margin-left: 20px;
}
.codedBy {
  margin-left: 20px;

  color: rgb(218, 237, 253);
  text-decoration: none;
  font-size: 10px;
}
.codedByRosy {
  color: rgb(218, 237, 253);
  text-decoration: none;
  font-size: 10px;
}
.forecast {
  padding-top: 50px;
  padding-bottom: 15px;
  margin-left: 40px;
  color: rgb(218, 237, 253);
}
.rightSection {
  padding-top: 50px;
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  border-radius: 2px 20px 20px 2px;
  padding-bottom: 100px;
}
.iconForecast {
  font-size: 50px;
  padding-top: 8px;
  padding-bottom: 15px;
}
.addPadding {
  padding-left: 20px;
}
.card {
  margin-left: 40px;
}
.searchbar {
  color: #1b5b7e;
  padding: 5px 0px 5px 15px;
  border-radius: 6px;
  display: inline;
  border-color: rgb(218, 237, 253);
}
.bigIcon {
  margin-left: 20px;
}
.invisibleButton {
  background-color: rgba(218, 237, 253, 0);
  border-color: rgba(218, 237, 253, 0);
}
.minForecast {
  opacity: 0.5;
}
.searchButton {
  background-color: #1b5b7e;
  color: rgb(218, 237, 253);
  border-radius: 6px;
  padding: 5px 15px 5px 15px;
  border-color: #1b5b7e;
  margin-right: 105px;
  margin-left: 5px;
}
.currentDate {
  margin-top: 5px;
  margin-right: 105px;
  color: rgb(218, 237, 253);
  font-size: 14px;
}
.celsiusIcon {
  background-color: rgb(218, 237, 253);
  color: #1b5b7e;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  margin-left: 40px;
  border-color: rgb(218, 237, 253);
}
.fahrenheitIcon {
  background-color: rgb(218, 237, 253);
  color: #1b5b7e;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  border-color: rgb(218, 237, 253);
}
.active {
  background-color: #1b5b7e;
  color: rgb(218, 237, 253);
}
.border {
  margin-top: 50px;
  padding: 0px 40px 0px 20px;
}
.container {
  margin-top: 50px;
}
.leftSection {
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
}
.celsiusIcon:hover {
  cursor: default;
  background-color: #1b5b7e;
  color: rgb(218, 237, 253);
}
.fahrenheitIcon:hover {
  cursor: default;
  background-color: #1b5b7e;
  color: rgb(218, 237, 253);
}
.codedBy:hover {
  color: #b6e0dd;
}
.codedByRosy:hover {
  color: #b6e0dd;
}
